.itemCountContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
  }
  
  .itemCountContainer div {
    display: flex;
    margin: .5rem;
  }

  h5 {
margin: .5rem;
  }