.greeting {
    display: flex;
    justify-content: center;
    color: #8f2d56;
    margin: 2rem;
}

.title{
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    margin: 2rem;
    color:black;
}